<!DOCTYPE>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8">
<title>Pedidos</title>
</head>

<body>
	<div class="row">
		<h1>Informações da entrega</h1>
		<form class="col s12" method="post" action="/registrarPedidoEntregue">
			<table>
				<thead>
					<tr>
						<th>Código do pedido</th>
						<th>Cliente</th>
						<th>Endereço</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pedido : ${pedidos}">
						<td><span th:text="${pedido.idPedido}"></span></td>
						<td><span th:text="${pedido.cliente.nomeCompleto}"></span></td>
						<td><span th:text="${pedido.cliente.endereco}"></span></td>
						<td><p>
								<label> <input type="checkbox" name="entregas" th:value="${pedido.idPedido}"/> <span>Entregue</span>
								</label>
							</p></td>
					</tr>
				</tbody>
			</table>
			<button class="waves-effect waves-light btn" type="submit">
						<i class="material-icons left">send</i>Registrar Entrega
					</button>
			<h1>Itens da entrega</h1>
			<table>
				<thead>
					<tr>
						<th>Código do pedido</th>
						<th>Produto</th>
						<th>Quantidade</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${itens}">
						<td><span th:text="${item.pedido.idPedido}"></span></td>
						<td><span th:text="${item.produto.nomeProduto}"></span></td>
						<td><span th:text="${item.quantidade}"></span></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>